<div class="container">
  <div class="row">
    <div class="col-8 mx-auto">
      <div class="input-group">
        <input
          type="text"
          #search
          class="form-control"
          placeholder="Country"
          (keyup.enter)="buscar(search.value)"
        />
        <div class="input-group-append">
          <button
            (click)="buscar(search.value)"
            class="btn btn-secondary"
            type="button"
          >
            <i class="fa fa-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="w-50 mx-auto mt-5 mb-3" *ngIf="loading">
    <div class="d-flex align-items-center">
      <strong>Loading...</strong>
      <div
        class="spinner-border ml-auto"
        role="status"
        aria-hidden="true"
      ></div>
    </div>
  </div>
</div>

<app-stats [visible]="visible" [data]="data"></app-stats>
